# Measure of Central Tendency

## `Mean`

In [1]:
## Mean (Average)
age=[12, 32, 21, 38, 45, 66, 70, 32, 18, 39, 26]

In [2]:
import numpy as np
np.mean(age)

np.float64(36.27272727272727)

In [3]:
weight = [75, 80, 79, 82, 71, 68, 65]
np.mean(weight)

np.float64(74.28571428571429)

### Using `seaborn`

In [4]:
import seaborn as sns
df=sns.load_dataset("tips")

# Loading the Head
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# Finding the `mean` of `total_bill`
np.mean(df['total_bill'])

np.float64(19.78594262295082)

In [6]:
# Finding the `mean` of `tip`
np.mean(df['tip'])

np.float64(2.99827868852459)

## `Medium`

In [8]:
# Medium using `age = [12, 32, 21, 38, 45, 66, 70, 32, 18, 39, 26]`
np.median(age)

np.float64(32.0)

### In Case of Outlier in the Data

- Using the same age with a outlier

In [14]:
age2 = [12, 32, 21, 38, 45, 66, 70, 32, 18, 39, 100]

#### In case of mean outlier will severally manipulate the data

In [12]:
# Mean
np.mean(age2)

np.float64(43.0)

In [13]:
# Medium
np.median(age2)

np.float64(38.0)

## `Mode`

- For getting the mode we use different library called `scipy`

- 
    ```py
    from scipy import stats 
    ```

In [15]:
from scipy import stats

# Calculating the mode
stats.mode(age)

ModeResult(mode=np.int64(32), count=np.int64(2))